body {
  margin: auto;
  width: 50%;
  background-color: blueviolet;
}
.container {
  background-color: white;
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  height: 100%;
}
.table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}
th {
  text-align: start;
}
.strong {
  font-weight: bold;
}
